.layoutBody {
  display: flex;
  scrollbar-width: none;
}

.main {
  margin-left: 14rem;
  min-height: 120vh;
  width: 100%;
}

.header {
  width: 100%;
  padding: 0 2em;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.422);
  backdrop-filter: blur(3px);
  align-items: center;
}

.pageTitle {
  font-size: var(--fs-3);
  font-weight: var(--fs-w-2);
}

.childrenContainer {
  margin: 2em;
}

@media (max-width: 62rem) {
  .childrenContainer {
    margin: 5em 2em;
  }
}

.headerStart {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  gap: 2em;
}

.headerEnd {
  display: flex;
  align-items: center;
}

.date {
  font-size: var(--fs-1);
  background-color: #ffffff16;
  padding: .4em 1em;
  white-space: nowrap;
  border-radius: var(--br-1);
}

.profileLink {
  display: flex;
  align-items: center;
  align-content: center;
  gap: .8em;
  text-decoration: none;
  padding: 1em 1.5em;
  overflow: hidden;
}

.profilePicture {
  border-radius: 50%;
  outline: var(--c3) 3px solid;
  box-shadow: var(--b-sh-1);
}

.profileUsername {
  font-size: var(--fs-1);
  font-weight: var(--fs-w-3);
  color: var(--c3);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navigatorBtn {
  cursor: pointer;
  display: grid;
  place-items: center;
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  transition: .3s opacity;
}

.navigatorBtn:hover {
  opacity: .7;
}


@media (max-width: 62rem) {
  .headerStart {
    display: block;
  }

  .formComponent {
    display: none;
  }

  .layoutBody {
    scrollbar-width: none;
  }

  .main {
    overflow: hidden;
    margin-left: 0;
    width: 100%;
  }

  .navigatorBtn {
    display: block;


  }

  .header {
    position: fixed;
  }
}

@media (max-width: 43rem) {
  .pageTitle{
    font-size: var(--fs-2);
  }
  .date {
    display: none;
  }
}