.main {
  min-height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
}

.authContainer {
  display: grid;
  grid-template-columns: 1.1fr 1.2fr;
  width: 100%;
  min-height: 100%;
  background-color: var(--c1);
  box-shadow: var(--b-sh-1);
  border-radius: var(--br-1);
}

.contentContainer {
  border-right: 2px var(--c2) solid;
  display: grid;
  padding: 2.5em 3em;
  place-items: center;
}

.imageSignIn {
  width: 100%;
  height: 100%;
  background-color: var(--c2);
}

.formContainer {
  margin: 5em auto;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 100%;
}

.providers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.provider {
  cursor: pointer;
  background-color: var(--c2);
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: .7em;
  transition: .2s;
  aspect-ratio: 4/4;
  border: none;
  outline: none;
}

.provider:hover {
  opacity: .85;
}

.authTitle {
  font-size: var(--fs-4);
}

.link {
  text-decoration: none;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 82rem) {
  .authContainer {
    width: 100%;
    max-width: 550px;
    grid-template-columns: 1fr;
  }

  .contentContainer {
    display: none;
  }

  .imageContainer {
    display: none;
  }
}

@media (max-width: 43rem) {
  .authContainer {
    width: 90%;
  }

  .providerImage {
    width: 3rem;
    height: 3em;
  }
}