.layoutContainer {
  height: 100vh;
}

.main {
  display: grid;
  place-items: center;
}

.authContainer {
  width: 100%;
  min-height: 100%;
  box-shadow: var(--b-sh-1);
  border-radius: var(--br-1);
}

.contentContainer {
  position: fixed;
  width: 50%;
  top: 0;
  height: 100vh;
}

.contentImage {
  object-fit: cover;
}

.formContainer {
  height: 90vh;
  overflow: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
  margin-left: 50%;
}

.form {
  margin: auto;
  margin-top: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 100%;
}

.providers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.provider {
  cursor: pointer;
  background-color: var(--c2);
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: .7em;
  transition: .2s;
  aspect-ratio: 4/4;
  border: none;
  outline: none;
  border: var(--c3) 3.5px solid;
}

.provider:hover {
  opacity: .85;
}

.authTitle {
  font-size: var(--fs-4);
  text-align: center;
}

.link {
  text-decoration: none;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 82rem) {
  .authContainer {
    width: 100%;
    max-width: 550px;
    grid-template-columns: 1fr;
  }

  .contentContainer {
    display: none;
  }

  .imageContainer {
    display: none;
  }

  .formContainer {
    margin-left: 0%;
    border: var(--c2) 2px solid;
    background-color: var(--c1);
  }
}

@media (max-width: 43rem) {
  .authContainer {
    width: 90%;
  }

  .providerImage {
    width: 3rem;
    height: 3em;
  }
}