/* General Layout config */
.main {
  min-height: 100vh;
}
/* 
.authContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.imageContainer {
  min-height: 100vh;
  /* width: 100%; */
}

.formContainer {
  height: calc(100% - 10 rem);
  padding: 2em 0;
  margin: 5rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-height: 300px;
  max-width: 300px;
}

/* Form container */
.authTitle {
  text-align: center;
  font-size: var(--fs-4);
}

.providers {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.provider,
.providerImage {
  cursor: pointer;
  height: 3.2rem;
  width: 3.2rem;
  transition: .3s;
}

.provider {
  padding: 2.1rem;
  background-color: var(--c1);
  display: grid;
  border: .1rem var(--c3) solid;
  place-content: center;
  border-radius: 50%;
}

.provider:hover {
  opacity: .8;
}

.link {
  margin: 1em 0;
  text-decoration: none;
}