.form {
  max-width: 30rem;
  transform: scale(.9);
}

.userDetails {
  display: grid;
  grid-template-columns: .3fr 1fr;
  gap: 2em;
  width: 100%;
  margin: 4em auto;
  align-items: center;
  position: relative;
}

.actions {
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  gap: 1em;
}

.profileUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.profilePicture {
  border-radius: 50%;
  outline: var(--c3) 4px solid;
}

.title {
  font-size: var(--fs-3);
  font-weight: var(--fs-w-3);
}

.username {
  text-align: center;
}

.techs {
  width: 100%;
  display: grid;
  grid-template-columns: .3fr 1fr;
  gap: 2em;
  align-items: center;
}

@media (max-width: 62rem) {
  .techs {
    grid-template-columns: 1fr;
  }
}

.challenges {
  text-align: center;
}

.challengesNumber {
  font-size: var(--fs-7);
}

.challengeSubtitle {
  font-size: var(--fs-3);
  font-weight: var(--fs-w-3);
}

.applicationDetails {
  display: grid;
  width: 100%;
}

.applicationDetail {
  width: 100%;
  background-color: var(--c2);
  margin-top: 2em;
  padding: .5em;
  word-wrap: break-word;
}

.detailText {
  font-size: var(--fs-1);
  line-height: 2;
}

.applicationDetail:last-child {
  height: 20vh;
  overflow: auto;
}


@media (max-width: 62rem) {
  .userDetails {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 43rem) {
  .profilePicture {
    width: 100px;
    height: 100px;
  }
}

/* Modal */
.message {
  text-align: center;
  font-size: var(--fs-1);
}


.modalActions {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
}

.formReason {
  width: 100%;
  margin: 1em;
}

.reasonContainer {
  width: 100%;
  margin-bottom: 1em;
}

.reason {
  height: 100%;
  width: 100%;
  resize: none;
  scrollbar-width: thin;
  font-size: var(--fs-1);
  background-color: var(--c2);
  border: none;
  outline: none;
  padding: 1em;
  border-radius: var(--br-1);
}