@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  /* Colors */
  --c1: #07f7d36a;
  --c1-hover: #07f7d39c;
  --c2: #13141aa7;
  --c2-hover: #13141a;
  --c3: #FFFFFF;
  --c4: #020910E2;
  --c5: #474747;
  --c6: #ffffffe7;
  --c6-hover: #ffffffbc;
  --c7: #FF5F5F;
  --c7-hover: #570f0f34;
  --c8: #5fff8f;
  --c8-hover: #12672b3b;
  --c9: #0d1319d5;

  /* Difficulties colors */
  --c-easy: #15bc7f;
  --c-medium: #fdc538;
  --c-hard: #FF5F5F;
  --c-insane: #B074FC;

  /* Editor colors */
  --c-editor-bg-1: #1E1E1E;


  /* Status colors */
  --c-pending: #ffba0b83;
  --c-denied: #ff5f5fa8;
  --c-approved: #5fff8fc1;

  /* Font size */
  --fs-1: 1rem;
  --fs-2: 1.2rem;
  --fs-3: 1.4rem;
  --fs-4: 2rem;
  --fs-5: 2.4rem;
  --fs-6: 3.9rem;
  --fs-7: 5rem;

  /* Font weight */
  --fs-w-1: 300;
  --fs-w-2: 500;
  --fs-w-3: 700;


  /* Border radius */
  --br-1: .2rem;
  --br-2: 1.25rem;
  --br-3: 2.5rem;
  --br-4: .2rem;

  /* Shadows */
  --b-sh-1: 0px 0px 5px #54e6e4, 0px 0px 10px #54e6e4, 0px 0px 15px #54e6e4;
  --t-sh-1: 0px 0px 2px #54e6e4, 0px 0px 0px #54e6e4, 0px 0px 10px #54e6e4;

  --b-sh-2: 0px 0px 5px #19e29fd5, 0px 0px 6px #19e29fd5, 0px 0px 15px #19e29fd5;
  --b-sh-2-low: 0px 0px 3px #19e29fd5, 0px 0px 4px #19e29fd5, 0px 0px 11px #19e29fd5;
  --t-sh-2: 0px 0px 2px #19e29fd5, 0px 0px 6px #19e29fd5, 0px 0px 10px #19e29fd5;

  --b-sh-3: 0px 0px 5px #f04c4c, 0px 0px 6px #f04c4c, 0px 0px 15px #f04c4c;
  --b-sh-3-low: 0px 0px 3px #f04c4c, 0px 0px 4px #f04c4c, 0px 0px 11px #f04c4c;
  --t-sh-3: 0px 0px 2px #f04c4c, 0px 0px 6px #f04c4c, 0px 0px 10px #f04c4c;

  --t-sh-black: 0px 0px 2px #12121271, 0px 0px 2px #12121271;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--c3);
  font-weight: var(--fs-w-2);
  font-family: 'Poppins', sans-serif;
}

html {
  background: linear-gradient(90deg, #090409 0%, #021010 25%, #120612 75%, rgba(7, 1, 8, 1) 100%);
  background-color: var(--c2-hover);
}

body {
  max-width: 120rem;
  background: linear-gradient(90deg, #120612 0%, #021010 25%, #090409 75%, rgba(7, 1, 8, 1) 100%);
  margin: auto;
  background-image: url('/backgrounds/bubbles.svg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

section {
  width: 90%;
  margin: auto;
  margin-bottom: 12rem;
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
strong {
  font-weight: var(--fs-w-3);
}

code {
  background-color: #1d1d1d93;
  border: .01rem rgba(255, 255, 255, 0.347) solid;
  font-size: var(--fs-1);
  padding: .5em;
  display: block;
  margin-top: .5em;
  width: 100%;
  border-radius: var(--br-4);
  font-weight: var(--fs-w-2);
}

.animate__animated.animate__fadeIn {
  --animate-duration: .3s;
}

@media (max-width: 43rem) {
  :root {
    --fs-2: 1rem;
    --fs-3: 1.3rem;
    --fs-4: 1.6rem;
    --fs-5: 1.8rem;
    --fs-6: 2.2rem;
  }
}