.heading {
  position: relative;
}

.heading {
  height: 70vh;
  background-color: rgba(0, 0, 0, .40);
  background-image: url('/backgrounds/shades.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  gap: 4em;
  justify-content: center;
  flex-direction: column;
  padding: 4em 1em;
}


.headingTitle {
  max-width: 800px;
  text-align: center;
  line-height: 2;
  font-size: var(--fs-4);
  font-weight: var(--fs-w-2);
}

.headingTitleHighlight {
  font-weight: var(--fs-w-3);
}

.searcher {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;

}

.inputSearcher {
  background-color: var(--c2);
  border: none;
  outline: none;
  padding: 1em 2em;
  width: 100%;
  font-size: var(--fs-2);
  font-weight: var(--fs-w-1);
  border-radius: var(--br-3);
}

.languagesLink {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.filter {
  list-style: none;
}

.languageLink {
  text-decoration: none;
  cursor: pointer;
  padding: .5em 1em;
  background-color: var(--c4);
  border-radius: var(--br-3);
  font-size: var(--fs-1);
  transition: .3s background-color;
}

.languageLink:hover {
  background-color: var(--c2);
}

.challengesContainer {
  min-height: 30vh;
}