.challengePanel {
  display: flex;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr .7fr;
}

@media (max-width: 56rem) {
  .challengePanel {
    height: 100vh;
  }
}

.editorContainer {
  position: relative;
}

.submitContainer {
  position: absolute;
  bottom: 3%;
  right: 5%;
}

.editor {
  background-color: #1E1E1E;
  padding: .5em 0;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}