/* Hero section */
.hero {
  min-height: 90vh;
  padding-top: 2rem;
  display: flex;
}

.heroContainer {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr .96fr;
  gap: 3em;
  justify-items: center;
}

.heroLeft,
.heroRight {
  width: 100%;
}

.heroLeft {
  text-align: center;
}

.challengeCount {
  font-size: var(--fs-5);
  font-weight: var(--fs-w-3);
  margin-top: .5em;
}

.heroPicture {
  margin: auto;
  width: 100%;
  max-width: 500px;
  background-color: var(--c2);
  border-radius: var(--br-4);
  height: 550px;
  max-height: 90vh;
}

.videoHero {
  border-radius: var(--br-2);
  object-fit: cover;

}

.heroRight {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.heroTitle {
  font-weight: var(--fs-w-2);
  width: 95%;
  font-size: var(--fs-6);
}

.heroTitleHightlight {
  font-weight: var(--fs-w-3);
}

.heroParagraph {
  font-size: var(--fs-3);
  margin: 1em 0;
}

@media (max-width: 62rem) {
  .heroContainer {
    margin-top: 4rem;
    grid-template-columns: 1fr;
  }

  .heroRight {
    grid-row: 1/1;
    text-align: center;
    align-items: center;
  }
}


/* Techs */
.technologies {
  display: grid;
  grid-template-columns: .5fr .8fr;
  align-items: center;
  gap: 5rem;
  margin: 18rem auto;
}

.technologiesDescription {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.technologiesTitle {
  font-size: var(--fs-4);
}

.technologiesParagraph {
  font-size: var(--fs-3);
  line-height: 1.7;
}

.cubeContainer {
  margin: 10% 0 0 30%;
  height: 300px;
  width: 300px;
  margin: auto;
  perspective: 10000px;
  position: relative;
}

.cube {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotateCube 20000ms linear infinite;
  scale: .8;
}

@keyframes rotateCube {
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.top,
.bottom,
.left,
.right,
.front,
.back {
  position: absolute;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--c1);
}

.cubeTitle {
  font-size: var(--fs-4);
  text-shadow: var(--t-sh-1);
}

.cubeImage {
  opacity: .6;
}

.top {
  transform: rotateX(90deg) translateZ(160px);
}

.bottom {
  transform: rotateX(90deg) translateZ(-160px);
}

.left {
  transform: rotateY(90deg) translateZ(160px);
}

.right {
  transform: rotateY(-90deg) translateZ(160px);
}

.front {
  transform: rotateY(180deg) translateZ(160px)
}

.back {
  transform: translateZ(160px);
}

@media (max-width: 62rem) {
  .technologies {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 43rem) {
  .cube {
    scale: .6;
  }

  .technologies {
    overflow-x: hidden;
    margin: 10rem auto;
  }
}


/* Illustrations */
.illustrations {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5em;
}


/* Explore */
.explore {
  background-color: var(--c2);
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.exploreTitle {
  font-weight: var(--fs-w-2);
  font-size: var(--fs-5);
  text-align: center;
}

.explore,
.exploreVideo {
  border-radius: var(--br-1);
}

.exploreVideo {
  width: 100%;
  height: 550px;
  aspect-ratio: 21/9;
}

@media (max-width: 62rem) {
  .exploreVideo {
    height: 350px;
  }
}

@media (max-width: 43rem) {
  .explore {
    padding: 1em;
    gap: 2em;
  }

  .exploreVideo {
    height: 250px;
  }
}