/* Hero section */
.hero {
  min-height: 90vh;
  padding-top: 2rem;
  display: flex;
}

.heroContainer {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr .96fr;
  gap: 3em;
  justify-items: center;
}

.heroLeft,
.heroRight {
  width: 100%;
}

.heroLeft {
  text-align: center;
}

.challengeCount {
  font-size: var(--fs-5);
  font-weight: var(--fs-w-3);
  margin-top: .5em;
}

.heroPicture {
  margin: auto;
  width: 100%;
  max-width: 500px;
  background-color: var(--c2);
  border-radius: var(--br-4);
  height: 550px;
  max-height: 90vh;
  border: .12rem var(--c3) solid;
  box-shadow: var(--b-sh-1);
}

.heroRight {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.heroTitle {
  font-weight: var(--fs-w-2);
  width: 95%;
  font-size: var(--fs-6);
}

.heroTitleHightlight {
  font-weight: var(--fs-w-3);
}

.heroParagraph {
  font-size: var(--fs-3);
  margin: 1em 0;
}

@media (max-width: 62rem) {
  .heroContainer {
    margin-top: 4rem;
    grid-template-columns: 1fr;
  }

  .heroRight {
    grid-row: 1/1;
    text-align: center;
    align-items: center;
  }
}

/* Illustrations */
.illustrations {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5em;
}


/* Explore */
.explore {
  background-color: var(--c2);
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.exploreTitle {
  font-weight: var(--fs-w-2);
  font-size: var(--fs-5);
  text-align: center;
}

.explore,
.exploreVideo {
  border-radius: var(--br-1);
}

.exploreVideo {
  /* background-color: var(--c1); */
  width: 100%;
  height: 550px;
  aspect-ratio: 21/9;
}

@media (max-width: 62rem) {
  .exploreVideo {
    height: 350px;
  }
}

@media (max-width: 43rem) {
  .explore {
    padding: 1em;
    gap: 2em;
  }

  .exploreVideo {
    height: 250px;
  }
} 