.container {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
  background-color: var(--c2);
  border: var(--c3) 2px solid;
  border-radius: var(--br-1);
  box-shadow: var(--b-sh-3);
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
  max-width: 43rem;
}

.title {
  font-size: var(--fs-2);
  text-align-last: center;
  font-weight: var(--fs-w-2);
}