.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em 3em;
  background-color: var(--c2);
  border: 2px var(--c3) solid;
  border-radius: var(--br-3);
  text-align: center;
  font-weight: var(--fs-w-3);
  transition: .3s;
  max-width: 230px;
}