.challengeData {
  width: 100%;
  overflow-y: scroll;
  background-color: var(--c2);
  padding: 1.5em;

  background-image: url('/backgrounds/wave.svg');
  background-size:cover;
}

.actions {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}