.challengeCard {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1em;
  padding: 1.5em;
  border-radius: var(--br-1);
  background-color: var(--c2);
  text-decoration: none;
  transition: .3s opacity;
  align-items: center;
}

.challengeCard:hover {
 opacity: .8;
}

.imageContainer,
.challengeData {
  width: 100%;
}

.challengeTech {
  margin: auto;
}

.challengeData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.challengeName {
  font-size: var(--fs-3);
  font-weight: var(--fs-w-3);
}

.challengeTags {
  display: flex;
  gap: 1em;
}

.challengeTag {
  font-size: var(--fs-1);
  /* border-radius: var(--br-3); */
  border-radius: 3px;
  list-style: none;
  text-align: center;
  padding: .1em;
  width: 100%;
  max-width: 100px;
  background-color: var(--c5);
  font-weight: var(--fs-w-2);
}

.challengeDifficulty {
  background-color: #bc2650;
}

@media (max-width: 43rem) {

  .challengeCard,
  .challengeTags {
    grid-template-columns: 1fr;
  }

  .challengeCard {
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    gap: 2.5em;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
  }

  .challengeName {
    margin-bottom: 2em;
  }

  .challengeTech {
    height: 100px;
    width: 100px;
  }

  .challengeTags {
    flex-wrap: wrap;
  }

  .challengeTag {
    width: 100%;
    max-width: 200px;
    margin: auto;
  }
}