.challengeProfile {
  background-color: var(--c2);
  padding: .5em .8em;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 15px 1fr;
  align-items: center;
  gap: 1.5em;
  justify-content: center;
  justify-items: center;
  border-radius: var(--br-1);
  margin: auto;
  text-decoration: none;
  width: 100%;
  transition: .2s background-color;
}

.challengeProfile:hover {
  background-color: var(--c2-hover);
}

@media (max-width: 62rem) {
  .challengeProfile {
    grid-template-columns: repeat(3, 1fr);
    max-width: 50rem;
  }
}


.challengeData {
  text-align: start;
  width: 100%;
  font-size: var(--fs-1);
}

@media (max-width: 43rem) {
  .challengeProfile {
    margin: auto;
    padding: 1em;
    grid-template-columns: 1fr;
    max-width: 25rem;
    justify-content: center;
  }
  .challengeData {
    text-align: center;
  }
}

.difficulty {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
}

.easy {
  background-color: var(--c-easy);
}

.medium {
  background-color: var(--c-medium);
}


.hard {
  background-color: var(--c-hard);
}


.insane {
  background-color: var(--c-insane);
}