.challengesGrid {
  margin: auto;
  margin-top: 4rem;
  display: grid;
  overflow: hidden;
  scrollbar-width: none;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: center;
  gap: 2em;
  padding: 1em;
}