.leaderboard {
  margin-top: 2em;
  max-width: 700px;
}

.leaderboardNoHeader {
  font-size: var(--fs-3);
  text-align: center;
  font-weight: var(--fs-w-3);
}

.leaderboardHeader {
  display: grid;
  grid-template-columns: 50px 1fr 100px 100px 75px;
  text-align: center;
  padding: .5em;
  gap: 1em;
}

.leaderboardCol {
  font-size: var(--fs-1);
  font-weight: var(--fs-w-3);
}

.noAccountContainer {
  text-align: center;
  margin: 3em 0;
}

.noAccountTitle {
  font-size: var(--fs-4);
  margin-bottom: 2rem;
}

.noAccountLink {
  color: var(--c1-hover);
  font-size: var(--fs-3);
}

.noAccountLink:hover {
  color: var(--c1);
}

@media (max-width: 43rem) {
  .leaderboard {
    max-width: 500px;
  }

  .leaderboardHeader {
    display: none;
  }
}