.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--c2);
  padding: .7em 1em;
  transition: .3s transform;
  box-shadow: 0px 0px 2px var(--c3);
  user-select: none;
  height: 4.5rem;
}

.navContainer {
  display: flex;
  align-items: center;
}

.menuBtn {
  position: fixed;
  top: 3%;
  right: 3%;
  display: none;
  z-index: 4;
}

.navTitle {
  font-size: var(--fs-4);
  transition: .3s opacity;
}

.navTitle:hover {
  opacity: .7;
}


.navLink {
  text-decoration: none;
  font-size: var(--fs-1);
  font-weight: var(--fs-w-3);
  transition: .2s text-shadow;
}

.navLink:hover {
  text-shadow: var(--t-sh-1);
}

.challengeDataContainer {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  gap: .6em;
  overflow-y: scroll;
  scrollbar-width: none;
}

.challengeName {
  background-color: var(--c1);
  padding: .2em .8em;
  border-radius: var(--br-3);
  font-size: .9rem;
  font-weight: var(--fs-w-3);
  text-align: center;
  white-space: nowrap;
  width: min-content;
}

.challengeData {
  display: flex;
  align-items: center;
  gap: .7em;
  font-size: 1rem;
  font-style: italic;
  list-style: none;
}

.challengeDifficulty {
  font-style: normal;
  background-color: var(--c-hard);
  padding: .1em 1.3em;
  border-radius: var(--br-2);
  text-shadow: var(--t-sh-black);
}

.easy {
  background-color: var(--c-easy);
}

.medium {
  background-color: var(--c-medium);
}

.hard {
  background-color: var(--c-hard);
}

.insane {
  background-color: var(--c-insane);
}

.challengeDataItem {
  font-size: .7rem;
}

.challengePoints {
  color: var(--c10);
  font-weight: var(--fs-w-2);
}

.completed {
  color: var(--c8);
}

.pending {
  color: var(--c7);
}

.profileLink {
  display: flex;
  align-items: center;
  align-content: center;
  gap: .8em;
  text-decoration: none;
  padding: .5em 1.5em;
  overflow: hidden;
  border-radius: var(--br-1);
  border: var(--c3) 2.5px solid;
  border-radius: var(--br-3);
  transition: .25s background-color;
}

.profileLink:hover {
  background-color: var(--c1);
}

.profilePicture {
  border-radius: 50%;
  outline: var(--c3) 3px solid;
}

.profileUsername {
  font-size: var(--fs-1);
  font-weight: var(--fs-w-3);
  color: var(--c3);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hideMenu {
  transform: translateY(0) translateX(0);
}

.buttonContainer {
  margin: auto;
  margin-right: 0;
  max-height: 3.4rem;
}

@media (max-width: 56rem) {

  .nav,
  .navContainer {
    flex-direction: column;
  }

  .profileLink {
    width: min-content;
    margin: auto;
  }

  .nav {
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--c9);
  }

  .navContainer {
    margin: auto 0;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .menuBtn {
    display: block;
  }

  .hideMenu {
    transform: translateY(-100%) translateX(-100%);
  }

  .navTitle {
    text-align: center;
    margin: 2em 0;
    margin-left: 2rem;
    justify-self: center;
  }

  .buttonContainer {
    margin-left: 0;
  }
}