.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--c2);
  padding: .7em 2em;
  transition: .3s transform;
  box-shadow: 0px 0px 2px var(--c3);
  user-select: none;
}

.navContainer {
  display: flex;
  align-items: center;
}

.menuBtn {
  position: fixed;
  top: 3%;
  right: 3%;
  display: none;
  z-index: 4;
}

.navTitle {
  font-size: var(--fs-4);
  transition: .3s opacity;
}

.navTitle:hover {
  opacity: .7;
}

.navLinks {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.navItem {
  list-style: none;
}

.navLink {
  text-decoration: none;
  font-size: var(--fs-1);
  font-weight: var(--fs-w-3);
  transition: .2s text-shadow;
}

.navLink:hover {
  text-shadow: var(--t-sh-1);
}

.hideMenu {
  transform: translateY(0) translateX(0);
}

.buttonContainer {
  margin: auto;
  margin-right: 0;
  max-height: 3.4rem;
}

@media (max-width: 56rem) {

  .nav,
  .navContainer,
  .navLinks {
    flex-direction: column;
  }

  .nav {
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--c9);
  }

  .navContainer {
    margin: auto 0;
    align-items: flex-start;
  }

  .menuBtn {
    display: block;
  }

  .navLinks {
    margin-top: 3rem;
    align-items: flex-start;
    border: none;
  }

  .hideMenu {
    transform: translateY(-100%) translateX(-100%);
  }

  .navTitle {
    text-align: center;
    margin: 2em 0;
    margin-left: 2rem;
    justify-self: center;
  }

  .buttonContainer {
    margin-left: 0;
  }
}