.sliderContent {
  height: 95%;
}

.sliderItem {
  opacity: 1;
  height: 100%;
  position: relative;
}

.sliderImageContainer {
  position: relative;
  height: 100%;
}

.infoContainer {
  width: 90%;
  position: absolute;
  top: 5%;
  left: 2%;
  background-color: rgba(0, 0, 0, .70);
  padding: 1em;
}

.title {
  font-size: var(--fs-2);
  text-transform: uppercase;
  font-weight: var(--fs-w-2);
  margin-bottom: 1em;
}

.paragraph {
  font-size: var(--fs-1);
  line-height: 1.7;
}