.testDropdown {
  margin-bottom: .7em;
}

.header {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  text-align: left;
  background-color: var(--c1);
  padding: .7em;
  user-select: none;
}

.successCircle,
.failedCircle {
  margin: auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.successCircle {
  background-color: var(--c6);
}

.failedCircle {
  background-color: var(--c7);
}

.successTitle,
.failedTitle {
  font-size: var(--fs-2);
  font-weight: var(--fs-w-3);
}

.successTitle {
  color: var(--c6);
}

.failedTitle {
  color: var(--c7);
}


.arrowSuccess {
  margin: auto;
  height: 20px;
  width: 20px;
}

.body {
  padding: 1em;
  background-color: var(--c1);
}

.header:hover {
  background-color: var(--c9);
}

.code {
  background: var(--c8);
  display: block;
  width: 100%;
  padding: .5em;
}