.testDropdown {
  margin-bottom: .8em;
}

.header {
  display: grid;
  grid-template-columns: 50px 1fr 30px;
  text-align: left;
  background-color: var(--c4);
  padding: .7em;
  user-select: none;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
}

.successCircle,
.failedCircle {
  margin: auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.successCircle {
  background-color: var(--c3);
  box-shadow: var(--b-sh-2);
}

.failedCircle {
  background-color: var(--c3);
  box-shadow: var(--b-sh-3);
}

.successTitle,
.failedTitle {
  font-size: var(--fs-2);
  font-weight: var(--fs-w-3);
}

.successTitle {
  color: var(--c3);
  text-shadow: var(--t-sh-2);
}

.failedTitle {
  color: var(--c3);
  text-shadow: var(--t-sh-3);
}

.arrow {
  font-weight: var(--fs-w-3);
  font-size: var(--fs-2);
}

.arrowSuccess {
  text-shadow: var(--t-sh-2);
}

.arrowFailed {
  text-shadow: var(--t-sh-3);
}

.body {
  padding: 1em;
  background-color: var(--c4);
}

.headerSuccess:hover {
  background-color: var(--c8-hover);
}

.headerFailed:hover {
  background-color: var(--c7-hover);
}

.code {
  font-size: var(--fs-1);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .5em;
  gap: 1em;
}

.detail {
  font-weight: var(--fs-w-2);
}

.successDetail {
  color: var(--c8);
}

.failedDetail {
  color: var(--c7);
}