
.title {
  color: var(--c3);
}

.failedTitle,
.successTitle {
  font-size: var(--fs-4);
  margin-bottom: 1em;
}

.failedTitle {
  color: var(--c3);
  text-shadow: var(--t-sh-3);
}

.successTitle {
  color: var(--c3);
  text-shadow: var(--t-sh-2);
}