.card {
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: var(--c2);
  padding: 1em;
  margin-bottom: .7em;
  gap: 1em;
  border-radius: var(--br-1);
  max-width: 30rem;
  transition: .3s background-color;
  text-decoration: none;
}

.card:hover {
  background-color: var(--c2-hover);
}

.userData {
  display: flex;
  gap: 1em;
  font-size: var(--fs-1);
}

.data {
  width: 100%;
  text-align: center;
}

.userPicture {
  border-radius: 50%;
}
