.card {
  background-color: var(--c2);
  width: 100%;
  border-radius: var(--br-1);
}

.techImg {
  margin: auto;
  display: grid;
  place-items: center;
  padding: 0 .5em;
}

.cardData {
  padding: .9em;
  margin: auto;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  font-size: var(--fs-1);
}

.difficulty {
  font-style: normal;
  background-color: var(--c-hard);
  border-radius: var(--br-2);
  text-shadow: var(--t-sh-black);
  width: 6rem;
  text-align: center;
}

.easy {
  background-color: var(--c-easy);
}

.medium {
  background-color: var(--c-medium);
}


.hard {
  background-color:var(--c-hard);
}


.insane {
  background-color: var(--c-insane);
}

.reason {
  text-align: center;
  width: 6em;
  border-radius: var(--br-3);
  font-size: var(--fs-1);
  font-weight: var(--fs-w-2);
}

.create {
  background-color: var(--c1);
}

.update {
  background-color: var(--c-pending);
}

.cardData:nth-child(6) {
  font-weight: var(--fs-w-1);
  width: 15rem;
}

.cardData:nth-child(7) {
  width: 5rem;
}

.cardId {
  width: 50%;
}

.cardName {
  width: 80%;
}

.action {
  transition: .25s opacity;
}

.action:hover {
  opacity: .7;
}

@media (max-width: 62rem) {
  .card {
    display: grid;
    justify-items: center;
    padding: 2em 0;
    max-width: 30rem;
    margin: 0 auto 2em auto;
  }

  .cardData {
    width: 100%;
    width: min-content;
    margin: .25em auto;
  }

  .action {
    display: grid;
    place-items: center;
  }
}